html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Amaranth";
  src: url("../fonts/Amaranth-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpecialElite";
  src: url("../fonts/SpecialElite-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jaldi";
  src: url("../fonts/Jaldi-Regular.ttf");
  font-weight: normal;
  font-weight: normal;
}
