/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

.h3Font {
  font-family: "Amaranth-Regular";
  font-size: 1.1rem;
}

.h1Font {
  font-family: "SpecialElite-Regular";
  font-weight: bold;
  font-size: 1.1rem;
  color: green;
}

.pFont {
  font-family: "Jaldi-Regular";
  font-size: 1.1rem;
}
